@charset 'UTF-8';

html,
html * {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}
@media screen and (max-width: 700px) {
	div.navcontent {
		display: none;
	}	
}
@media screen and (max-width: 1050px) {
	.beerdescription {
		display: none;
	}	
}

/* unvisited link */
a:link {
	color: white;
	text-decoration: none;
}

/* visited link */
a:visited {
  color: white;
}

/* mouse over link */
a:hover {
  color: grey;
}

/* selected link */
a:active {
  color: grey;
}

body {
	font-family: arial, sans-serif;
	font-size: 1vw;
	background: white;
}

header {
	position: fixed;
	padding: 0em;
	z-index: 1000;
	top: 0;
	left: 0;
	width: 100%;
	height: 35px;
	background:rgba(1,0,0,.25);
}

nav {
	display: flex;
	height: 35px;
	
}

.logonav {
	height: 35px;
	float: left;
}

.logotextnav {
	height: 35px;
	float: left;
	padding-left: .5em;
}
 
.navbox {
	flex-basis: auto;
	justify-content: top;
	font-family: 'Rock Salt', cursive;
	font-size: 20px;
	align-items: top;
	flex-direction: column;
	text-align: top;
	align-self: top;
	color: #ffffff;
	border-left: 1em solid transparent;
	border-right: 1em solid transparent;
	display: inline-flex;
}

.hero {
	position: relative;
	height: 54vw;
	background-color: #000000;
	background-image: url("Media/BackgroundLogo.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%
}

.brewery {
	position: relative;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding-top: 35px;	
	max-height: 350px;
}

p {
	font-size: 1rem;
	font-family: 'Raleway', sans-serif;
}

h1{
	font-size: 1.25rem;
	font-family: 'Rock Salt', cursive;
}
h2{
	font-size: .9rem;
	font-family: 'Rock Salt', cursive;
}

.imageblocks {
	display: flex;
	align-items: flex-start;
	background: rgba(255,255,255,.25);
	padding: 1rem;
	height: 350px;
	max-height: 350px;
	
  }
  .imageblocks > img {
	width: 30%;
	margin: .3rem 1rem 0.5rem 0;
	max-height: 200px;

  }
  .imageblocks > div {
	flex: 1;
  }
  .imageblocks h1 {
	font-weight: 500;
	margin: 0 0 0.3rem 0;
  }

.story {
	position: relative;
	padding-top: 3.5em;
	height: 350px;
	max-height: 350px;
}

.ontap {
	position: relative;
	padding-top: 3.5em;
	height: 350px;
}

.latest {
	position: relative;
	padding-top: 3.5em;
	height: 350px;
}

.allcontent {
	background-image: linear-gradient(black, white)
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
}
/* End Main Content */

.footerbox {
	padding: 1em;
	color: white;
	background-color: #464646;
}

.icons {
	padding: .25em;
}

.footerlogo{
	height: 2.5em;
	float: right;
}