<% layout('../layouts/boilerplate')%>
<div class="error">    
    <div class="error-item">
        <h1>ERROR</h1>
        <h1>ERROR</h1>
        <h1>ERROR</h1>
        <h1>ERROR</h1>
        <h1>ERROR</h1>
        <h1>ERROR</h1>
        <h1>ERROR</h1>
        <h1>ERROR</h1>
</div>
<div class="error-item">
    <h1><%=err.message%></h1>
</div>
<div class="error-item">
    <p><%= err.stack %></p>
</div>
<div class="error-item">
        <h1>ERROR</h1>
        <h1>ERROR</h1>
        <h1>ERROR</h1>
        <h1>ERROR</h1>
        <h1>ERROR</h1>
        <h1>ERROR</h1>
        <h1>ERROR</h1>
        <h1>ERROR</h1>
    </div>
</div>