<% layout('../layouts/boilerplate')%>
    <main>
		<div class="allcontent">
                <p class="title">~ Login ~</p>
       		
                <div class="menuflex-container">
					    <form class="flex-item" action="post">
                            username
                            <input type="text" placeholder="username" name="username" required>
                            <br>
                            password
                            <input type="password" placeholder="*********" name="password" required>
                            <br>
                            <button class="loginButton">login</button>
                        </form>
                </div>
    </main>