<% layout('../layouts/boilerplate')%>
<main>
    <section class="centre">
        <div>
            <br>
            <br>
            <br>
            <br>
            <h1 class="robtoberfest">Robtoberfest</h1>
            <br>	
            <h3 class="robtoberfest">- friday 23rd of september -</h3>
            <br>
            <p>Second round of the Stenning Shed Shitfacer, this time with a theme....
            </p>
            <br>
            <p class="robtoberfest">- itinerary -</p>
            <br>
            <p> 18:00 - Arrive</p>
            <p> 18:01 - Pour Beer</p>
            <p> 18:30 - 19:00 - Bratwurst + Pretzels</p>
            <p> 19:00 - 21:59 - Drink Beers</p>
            <p> 22:00 - GTFO</p>
            <br>
            <p class="robtoberfest">- entry -</p>
            <br>
            <p>you MUST like dogs</p>
            <p>you must like beer or bring your own booze</p>
            <p>lederhosen optional</p>
            <br>
            <a class="" href="/taplist">
                <p class="robtoberfest">> tap list <</p>
            </a>
        </div>
        <br>
    </section>
    <div class="centre">
        <section>	
            <div>
                <p class="robtoberfest">Próst</p>
                <br>
                <img class="squareimageCrop" src="https://live.staticflickr.com/65535/52365169552_b0a01bfae5_o.jpg" alt="">
            </div>
        </section>
    </div>
</main>