<% layout('../layouts/boilerplate')%>
    <h1>Tap List</h1>
    <div>
        <a href="/new">Add Beer</a>
    </div>
    <ul>
        <% for (let beer of beers) {%> 
            <li><%= beer.name %></li>
            <a href="/beers/<%=beer._id%>"> more</a>
            <% }%>
    </ul>