<% layout('../layouts/boilerplate')%>
<main>
    <br>
    <br>
    <br>
    <div class="allcontent" >
        <h1 class="beertitle" >new beer</h1>
        <div>
            <form action="/beers" method="POST">
                <div class="edit-container">
                    <label class="edit-flex-item" for="name">Tap Number</label>
                    <input class="edit-flex-item" type="number" id="tapno" name="beer[tapNo]" required>
                </div>
                <div class="edit-container">
                    <label class="edit-flex-item" for="name">Name</label>
                    <input class="edit-flex-item" type="text" id="name" name="beer[name]" required>
                </div>
                <div class="edit-container">
                    <label class="edit-flex-item" for="name">Brew Father ID</label>
                    <input class="edit-flex-item" type="text" id="bfId" name="beer[bfId]" required>
                </div>
                <div class="edit-container">
                    <label class="edit-flex-item" for="previewDescription">Preview Description</label>
                    <textarea class="edit-flex-item" type="text" id="previewDescription" name="beer[previewDescription] "cols="30" rows="10" required></textarea>
                </div>
                <div class="edit-container">
                    <label class="edit-flex-item" for="description">Description</label>
                    <textarea class="edit-flex-item" type="text" id="description" name="beer[description] "cols="30" rows="10" required></textarea>
                </div>
                <div class="edit-container">
                    <label for="ontap">On Tap</label>
                    <select name="beer[ontap]" id="ontap">
                        <option value="pouring">Pouring</option>
                        <option value="kegged">Kegged</option>
                     <option value="previous">Previous</option>
                        <option value="bottled">Bottled</option>
                    </select>
                </div>
                <div class="edit-container-button" >
                    <button id="editButton" class="edit-flex-item">Add New Beer</button>
                    <a class="edit-flex-item" href="/taplist">back</a>
                </div>
            </form>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
</main>