<% layout('../layouts/boilerplate')%>
<body>
    <h1>new beer</h1>
    <form action="/beers" method="POST">
        <div>
            <label for="name">Name</label>
            <input type="text" id="name" name="beer[name]">
        </div>
        <div>
            <label for="abv">ABV</label>
            <input type="text" id="abv" name="beer[abv]">
        </div>
        <div>
            <label for="style">Style</label>
            <input type="text" id="style" name="beer[style]">
        </div>
        <div>
            <label for="ibu">IBU</label>
            <input type="text" id="ibu" name="beer[ibu]">
        </div>
        <div>
            <label for="dryHops">Dry Hops</label>
            <input type="text" id="dryHops" name="beer[dryHops]">
        </div>
        <div>
            <label for="description">Description</label>
            <textarea type="text" id="description" name="beer[description] "cols="30" rows="10">
            </textarea>
        </div>
        <div>
            <label for="ontap">On Tap</label>
            <select name="beer[ontap]" id="ontap">
                <option value="pouring">Pouring</option>
                <option value="kegged">Kegged</option>
                <option value="previous">Previous</option>
                <option value="bottled">Bottled</option>
            </select>
        </div>

        <button>Add New Beer</button>
        <a href="/taplist">back</a>
    </form>
</body>