<% layout('../layouts/boilerplate')%>
<main>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <p>recipe page!!!!</p>
    <a href="https://api.brewfather.app/v1/recipes/vIY6lRqNgvA5tLky59bhDU10P8Wdq0">GET RECIPE</a>
</main>